* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__div{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.input_text{
    position: relative;
}
.input_text input{
    width: 15rem;
    padding: 0.7rem;
}

.inp__icon{
    position: absolute;
    right: 5%;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__list ul{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.todo__list ul li{
    list-style-type: none;
    text-align: left;
    background-color: #fff;
    width: 12rem;
    padding: 0.7rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.showing__data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.del button{
    background-color: rgb(209, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
}

.edit button{
    background-color: rgb(66, 209, 47);
    width: 2rem;
    border: none;
    height: 2rem;
    cursor: pointer;
}